@model  IEnumerable<BangDiemCaNhanViewModel>;
@{
    ViewData["Title"] = "Bảng điểm cá nhân";
}
<style>
</style>
<h2 class="text-center">Bảng điểm cá nhân</h2>
<hr class="bg-success" />
<br />

<div class="container">
    <h4 class="text-center bg-info text-white">Bảng điểm sinh viên</h4>
    <hr class="bg-success" />
    <br />

    <table class="table table-hover table-bordered  ">
        <thead class="bg-primary text-white ">
            <tr>
                <th>Học kỳ</th>
                <th>Mã HP</th>
                <th>Tên Học Phần</th>
                <th>TC</th>

                <th>Điểm QT</th>
                <th>Điểm thi</th>
                <th>Điểm Trung Bình</th>
                <th>Điểm Chữ</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th>@item.Mark.Semester.Name</th>
                <th>@item.Mark.Semester.Code</th>
                <th>@item.Mark.Subjects.Name</th>
                <th>@item.Mark.Subjects.Credits</th>
                <th>@item.Mark.MarkMidTerm</th>
                <th>@item.Mark.MarkFinalExam</th>
                <th>
                    @item.MarkAverage
                </th>
                <th>
                    @item.markWork
                </th>

            </tr>
            }
        </tbody>
    </table>
    <h4 class="text-center bg-info text-white">Kết quả bảng điểm sinh viên</h4>
    <hr class="bg-success" />

    <table class="table table-hover table-bordered  ">
        <thead class="bg-primary text-white ">
            <tr>
                <th>Học kỳ</th>
                <th>GPA</th>             
                <th>TC qua</th>
                <th>TC Tích lũy</th>
             
            </tr>

        </thead>
        <tbody>
           
            <tr>
                <th>@Html.</th>
                <th>@Html.DisplayName("GPA")</th>
                <th>@Html.DisplayName("GPA")</th>
                <th>@Html.DisplayName("GPA")</th>
            </tr>



        </tbody>
    </table>
</div>


